.header{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__subtitle{
    color: #292929;
    font-size: 0.86rem;
    text-align: center;
    letter-spacing: 0.1em;
  }
  &__logo{
    color: $title;
    font-size: 2.133rem;
    margin-bottom: 10px;
    letter-spacing: 0.06em;
  }
  &__nav{
    display: flex;
    justify-content: space-between;
    color: $title;
    display: none;
  }
}

.nav{
  &__item{
    margin-right: 35px;
    &:last-child{
      margin-right: 0;
    }
  }
}