@media(min-width:768px){
  .header{
    &__burger{
      display: none;
    }
  }
  .menu{
    &__nav{
      display: block;
      display: flex;
      flex-wrap: wrap;
      position: static;
      width: inherit;
      background-color: inherit;
      padding-top: 0;
      opacity: 1;
    }
  }
  .nav{
    &__item{
      margin-bottom: 0;
    }
  }
  .footer{
    &__location{
      margin-bottom: 4rem;
    }
  }
  .location{
    &__address{
      margin-bottom: 2.2rem;
    }
  }
  .title{
    &--location{
      margin-bottom: 2.2rem;
    }
  }
  .friends{
    padding-top: 2rem;
    margin-top: 10.66rem;
  }
}

@media(min-width:992px){
  .header{
    &__scroll{
      background: url(../img/hero-bg.png) no-repeat fixed;
      background-size: cover;
      background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
    }
  }
  .nav{
    &__item{
      color: $primary;
      &:last-child{
        margin-right: 0;
      }
      &:hover{
        color: #FAFAFA;
      }
      &:active{
        border-bottom: 3px solid #F1CDB3;
      }
    }
  }
  .menu{
    &__logo{
      color: $buttons;
    }
    &__subtitle{
      color: $buttons;
    }
  }
  .hero{
    display: block;
    padding-top: 12rem;

    &__subtitle{
      max-width: 22rem;
    }
  }
  .about{
    display: block;
  }
  .help{
    display: block;
  }
  .donation{
    display: block;
  }
  .footer{
    &__location{
      margin-bottom: 0;
    }
  }
  .friends{
    margin-top: 0;
    padding-top: 5.33rem;
  }
}

@media(min-width:1200px){
  .hero{
    &__subtitle{
      max-width: 30.66rem;
    }
  }
}