@media(min-width:768px){
  .menu{
    &__nav{
      display: block;
      display: flex;
      flex-wrap: wrap;
    }
  }
}

@media(min-width:992px){
  .nav{
    &__item{
      color: $primary;
    }
  }
  .menu{
    &__logo{
      color: $buttons;
    }
    &__subtitle{
      color: $buttons;
    }
  }
  .hero{
    display: block;
    &__subtitle{
      max-width: 22rem;
    }
  }
  .about{
    display: block;
  }
  .help{
    display: block;
  }
}

@media(min-width:1200px){
  .hero{
    &__subtitle{
      max-width: 30.66rem;
    }
  }
}