html {
  font-family: 'Georgia',serif;
  font-weight: normal;
  font-size: 15px;
  color: $primary;
  box-sizing: border-box;
}

body{
  font-size: 1rem;
}
a{
  text-decoration: none;
  color: inherit;
}

.container{
  width: 94%;
  max-width: 1200px;
  margin: 0 auto;
}

.swiper{
  max-height: 95.33rem;
  &-button{
    &-next{
      background: url(../img/svg/next.svg) center center no-repeat;
      @include slider__arrows;
      &::after{
        display: none;
      }
    }
    &-prev{
      background: url(../img/svg/prev.svg) center center no-repeat;
      @include slider__arrows;
      &::after{
        display: none;
      }
    }
  }
  &-pagination{
    font-size: 1.33rem;
    line-height: 1.53rem;
    color: #292929;
    background-color: $buttons;
    text-align: center;
    width: 3.46rem;
    height: 3.46rem;
    margin: 0 auto;
    border-radius: 100px;
  }
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
  bottom: 0;
  text-align: center;
}